.fullStack{
    top: 26vw;
    left: 8vw;
    min-width: fit-content;
    position: absolute;
    transform: rotateZ(
            -13deg
    );
}

.fullStack h1{
    color: #239464;
    font-size: 1.7vw;
    font-weight: 800;
    word-break: keep-all;
}


.section-2{
    background-color: gray;
}

.section-2-wrapper{
    min-width: 100%;
    background-color: #ff6060;
    position: relative;
}

.section-2-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.end{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.skills{
    align-self: center;
}

.frontEndWrap{
    display: flex;
    justify-content: flex-start;
    margin-top: 3vw;
}

.backEndWrap{
    display: flex;
    justify-content: flex-start;
    margin-top: 3vw;
}

.othersWrap{
    display: flex;
    justify-content: flex-start;
    margin-top: 3vw;
}

.name{
    width: fit-content;
    position: relative;
}

.name::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.im::before{
    width: 100%;
}

.amir::before{
    width: 100%;
}

.hossein::before{
    width: 100%;
}

.talatian::before{
    width: 100%;
}

.animateName.im::before{
    width: 0%;
}

.animateName.amir::before{
    width: 0%;
}

.animateName.hossein::before{
    width: 0%;
}

.animateName.talatian::before{
    width: 0%;
}

.gears{
    position: absolute;
    width: 20vw;
    left: 70vw;
    top: 15vw;
}


.gear1{
    position: relative;
    left: 0.9vw;
    top: 1.2vw;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.gear2{
    position: relative;
    right: 0.9vw;
    bottom: 1.2vw;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

