.project-tags{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: 2;
    bottom: 0;
    background-color: white;
    transition-property: bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.project-tag{
    width: 8em;
    text-align: center;
    overflow: hidden;
}

.project-tags-wrapper{
    cursor: pointer;
    position: relative;
}

.project-tags-wrapper::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: gray;
    z-index: -1;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}


.tagBeforeHundredWidth::before{
    width: 100% !important;
}

.project-tags-circle{
    position: absolute;
    display: grid;
    place-items: center;
    top: -2rem;
    background-color: white;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.project-tags-circle.up{
    transform: rotateZ(180deg);
}

.project-tags-circle.down{
    transform: rotateZ(0deg);
}

.project-tags-circle button{
    min-width: 3rem;
    min-height: 3rem;
}
