:root {
    --primaryBackground: #cf3476;
    --primaryForeground: white;
    --secondaryBackground: #34cf8d;
    --secondaryForeground: #ff6060;
    --thirdForeground: #d6d6d6;
}


html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    scroll-behavior: smooth;
}

.App{
    overflow: hidden;
}

.parent{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    position: fixed;
}

.photoFrame{
    clip-path: polygon(33% 0, 73% 11%, 100% 83%, 27% 100%, 8% 62%);
    width: 30.4vw;
    position: relative;
}

.introduce{
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

sectionHeight{
    height: 100vh;
}

sectionRight{
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20vw), 0 100%);
}

.primaryBackground{
    background-color: var(--primaryBackground);
}

.primaryForeground{
    color: var(--primaryForeground);
}

.thirdForeground{
    color: var(--thirdForeground);
}

.secondaryBackground{
    background-color: var(--secondaryBackground);
}

.backgroundTextWrap{
    position: fixed;
    opacity: 0.1;
    color: white;
}

.backgroundText{
    font-size: 33.4vw;
    cursor: default;
}

.goUp{
    position: relative;
    z-index: 1;
}

@keyframes introduceTextAnime {
    0%{
        line-height: 1vw;
    }
    100%{
        line-height: 16vw;
    }
}


.introduceText{
    font-size: 16vw;
    line-height: 15vw;
    color: white;
    width: fit-content;
    font-weight: 700;
    position: relative;
    z-index: 3;
}


.introduceSecondaryText{
    font-size: 2.81vw;
}


.scene{
    transform-style: preserve-3d;
    transform: perspective(10000vw);
    position: fixed;
    width: 100%;
    top: -24vw;
    text-align: center;
    z-index: -1;
}


.rect{
    width: 100%;
    box-sizing: border-box;
    font-size: 25vw;
    opacity: 0.3;
    color: darkgreen;
}

.backgroundTextLayer1{
    transform-style: preserve-3d;
    transform: rotateX(45deg);
}

.backgroundTextLayer2{
    transform-style: preserve-3d;
    transform: rotateX(-90deg);
}

.first{
    transform: rotateX(45deg) translateY(13.32vw) translateZ(5.5vw);
}

.second{
    transform: rotateX(-45deg) translateY(-13.32vw) translateZ(5.5vw);
}


.backgroundTextSpin{
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: rotateX(135deg);
}

.backgroundTextSpinBackwards{
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: rotateX(45deg);
}

