.project{
    display: flex;
    min-height: 50vh;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.project-title{
    flex-grow: 1;
    transform: rotateZ(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-actions{
    flex-basis: 20%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.project-live{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-github{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.project-description{
    flex-basis: 70%;
    padding: 5em;
    align-self: center;
}

.project-main{
    position: relative;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.project-image{
    position: absolute;
    z-index: -2;
}

.project-main::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: gray;
    opacity: 0.7;
    z-index: -1;
}
