.navigation{
    z-index: 10;
    background-color: rgba(255, 255, 255, 1) !important;
}


.navigation a:focus {
    color: #cf3476;
}

.navigation a:hover{
    color: #cf3476;
}

.navigation a:link{
    color: black;
}


.menuIcon{
    cursor: pointer;
}